@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #212738;
  --primary-dark: #f97068;
  --primary-light: #f97068;
  --primary-darker: #212738;

  --background: #57c4e5;
  --foreground: #57c4e5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Mono', monospace;
  scroll-behavior: smooth;
}

input,
textarea,
select {
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 8px;
  /* height: 2rem; */
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--primary-dark);
  box-shadow: 0 0 0 2px var(--primary);
}

button {
  background-color: white;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--primary-dark);
  color: white;
  border-radius: 8px;
  text-shadow: #212738;
}

button:active {
  background-color: var(--primary-darker);
}

.userCont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--primary);
  transition: all 0.2s ease-in-out;
}

.userCont:hover {
  border-radius: 0.5rem;
  box-shadow: -5px 0 8px var(--primary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 2px solid var(--background);
}



