@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3498db;
  --primary-dark: #2980b9;
  --primary-light: #5bc0de;
  --primary-darker: #1a202c;

  --secondary: #f1c40f;
  --secondary-dark: #d35400;
  --secondary-light: #ffc107;
  --secondary-darker: #e67e00;

  --error: #e74c3c;
  --error-dark: #c0392b;
  --error-light: #ec7063;
  --error-darker: #a94442;

  --warning: #f39c12;
  --warning-dark: #e67e00;
  --warning-light: #ffb648;
  --warning-darker: #d35400;

  --success: #2ecc71;
  --success-dark: #16a085;
  --success-light: #34c759;
  --success-darker: #148f32;

  --background: linear-gradient(135deg, #fff 0%, #f5f5f5 100%);
  --foreground: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #111 0%, #333 100%);
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    'Poppins',
    'Inter var',
    'IBM Plex Sans var',
    'Space Grotesk',
    'Satoshi',
    'Recursive',
    'Plus Jakarta Sans',
    'Avenir Next',
    'Avenir',
    'Montserrat',
    'Nunito Sans',
    'Actor',
    'Taviraj',
    'Lato',
    'Public Sans',
    'Source Sans Pro',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

input,
textarea,
select {
  background-color: var(--primary-light);
  border: 1px solid var(--primary);
  color: var(--foreground);
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--primary-dark);
  box-shadow: 0 0 0 2px var(--primary);
}

button {
  background-color: var(--primary);
  border: none;
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--primary-dark);
}

button:active {
  background-color: var(--primary-darker);
}

